<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/animais.css">
        <title> Adotar | Instituto Vida Animal </title>
        <link rel="icon" href="../../imagens/logo.png" type="imagens/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="cabecalho">
            <div style="gap: 20px; display: flex; align-items: center;">
                <img src="../../imagens/logo.png" alt="Logo do Instituto Vida Animal" class="logo">
                <h1 style="color:darkgreen; font-family: cursive; margin: 0%;"> Instituto Vida Animal </h1>
            </div>

            <nav>
                <a style="font-size: 23px;" href="../../index.html">Home</a>
                <a style="font-size: 23px;" href="../../adotar.html">Adotar</a>
                <a style="font-size: 23px;" href="../../contactos.html">Contactos</a>
            </nav>
        </header>

        <br>
        <a style="font-size: 50px; margin-left: 50px;" href="../../adotar.html">X</a>
        

    </body>
</html>