<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/animais.css' %}">
        <title> Adotar | Instituto Vida Animal </title>
        <link rel="icon" href="{% static 'imagens/logo.png' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="cabecalho">
            <div style="gap: 20px; display: flex; align-items: center;">
                <img src="{% static 'imagens/logo.png' %}" alt="Logo do Instituto Vida Animal" class="logo">
                <a class="home" style="font-size: 32px; font-family: cursive; font-weight: bolder;" href="/"> Instituto Vida Animal </a>
            </div>

            <nav>
                <a style="font-size: 23px;" href="../sobreNos">Sobre Nós</a>
                <a style="font-size: 23px;" href="../adotar">Adotar</a>
                <a style="font-size: 23px;" href="../contactos">Contactos</a>
            </nav>
        </header>

        <br>
        <h1>Animais para adoção</h1>
        <form>
            <label style="margin-left: 35px; font-family: Arial; font-weight: bolder;">Escolha a espécie do animal que deseja:</label>
            <select>
                <option style="font-size: small;" value="vazio">Escolha uma opção</option>
                <option style="font-size: medium;" value="gato">Gato</option>
                <option style="font-size: medium;" value="cao">Cão</option>
            </select>
        </form>
        <br>
        {% for animal in animais %}
            <li>
                <div style="margin-left: 35px;", class="caixa">
                    <br>
                    {% if animal.imagem %}
                        <img src="{{ animal.imagem.url }}" alt="Imagem de {{ animal.nome }}" width="200">
                    {% endif %}
                    <h2> Nome: {{ animal.nome }} </h2>
                    <h2> Idade: {{ animal.idade }} anos</h2>
                    <button style="background-color: darkgreen; border: none; padding: 10px;">
                        <a href="{% url 'animais_detalhe' animal.id %}" style="color: white; text-decoration: none;"> Ver detalhes </a>
                    </button>
                </div>
            </li>
        {% empty %}
            <li>Não há animais cadastrados.</li>
        {% endfor %}
    </body>
    




    <br><br>
    <footer>
        <hr>
        <p>
            &copy; 2025 Instituto Vida Animal. Todos os direitos reservados.
        </p>
    </footer>
</html>