    <!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title> Apadrinhar | Instituto Vida Animal </title>
        <link rel="icon" href="{% static 'imagens/logo.png' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="cabecalho">
            <div style="gap: 20px; display: flex; align-items: center;">
                <img src="{% static 'imagens/logo.png' %}" alt="Logo do Instituto Vida Animal" class="logo">
                <a class="home" style="font-size: 32px; font-family: cursive; font-weight: bolder;" href="/"> Instituto Vida Animal </a>
            </div>

            <nav>
                <a style="font-size: 23px;" href="../../sobreNos">Sobre Nós</a>
                <a style="font-size: 23px;" href="../../adotar">Adotar</a>
                <a style="font-size: 23px;" href="../../contactos">Contactos</a>
                {% if user.is_authenticated %}
                    <span style="font-size: 20px; margin-right: 10px;">Olá, {{ user.username }}!</span>
                    <a style="font-size: 23px;" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a style="font-size: 23px;" href="{% url 'sign_in' %}">Login</a>
                {% endif %}
                
            </nav>
        </header>

        <button id="darkModeToggle">Modo Escuro</button>
        <br>
        {% if user.is_authenticated %}
            <h1>Apadrinhar</h1>
            <p>Para apadrinhar um animal </p>
            <p></p>
        {% else %}
            <h1>Por favor faça login</h1>
            <p>Para aceder a esta página, por favor faça <a class="sign_up" href="{% url 'sign_in' %}">login</a>.</p>
        {% endif %}

        <script>
            const toggleBtn = document.getElementById('darkModeToggle');
            const body = document.body;
    
            // Verifica se o modo escuro estava ativado antes
            if(localStorage.getItem('darkMode') === 'enabled') {
                body.classList.add('dark-mode');
                toggleBtn.textContent = "Modo Claro";
            }
    
            toggleBtn.addEventListener('click', () => {
                body.classList.toggle('dark-mode');
    
                if(body.classList.contains('dark-mode')) {
                    toggleBtn.textContent = "Modo Claro";
                    localStorage.setItem('darkMode', 'enabled');
                } else {
                    toggleBtn.textContent = "Modo Escuro";
                    localStorage.setItem('darkMode', 'disabled');
                }
            });
        </script>
    </body>
</html>