<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/animais.css' %}">
        <title> Contactos | Instituto Vida Animal </title>
        <link rel="icon" href="{% static 'imagens/logo.png' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="cabecalho">
            <div style="gap: 20px; display: flex; align-items: center;">
                <img src="{% static 'imagens/logo.png' %}" alt="Logo do Instituto Vida Animal" class="logo">
                <a class="home" style="font-size: 32px; font-family: cursive; font-weight: bolder;" href="/"> Instituto Vida Animal </a>
            </div>

            <nav>
                <a style="font-size: 23px;" href="../sobreNos" class="lista">Sobre Nós</a>
                <a style="font-size: 23px;" href="../adotar">Adotar</a>
                <a style="font-size: 23px;" href="../contactos">Contactos</a>
            </nav>
        </header>


        <br>
        <h1>Contactos</h1>
        <p style="margin-left: 35px; font-family: Arial; font-weight: bolder;">
            Telefone: 221 234 567 <br>
            Email: institutovidaanimal@gmail.com <br>
            Endereço: Rua dos Animais, 123, Vila Nova de Gaia, Portugal <br>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.5807010410185!2d-8.615576577037258!3d41.121847578411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24652a79d7e659%3A0x777cd47377e6b55!2sEscola%20Profissional%20de%20Gaia!5e0!3m2!1spt-PT!2spt!4v1757611518662!5m2!1spt-PT!2spt" allowfullscreen=""></iframe>
    </body>

    



    <br><br>
    <footer>
        <hr>
        <p>
            &copy; 2025 Instituto Vida Animal. Todos os direitos reservados.
        </p>
    </footer>
</html>