<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title> Adotar | Instituto Vida Animal </title>
        <link rel="icon" href="{% static 'imagens/logo.png' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="cabecalho">
            <div style="gap: 20px; display: flex; align-items: center;">
                <img src="{% static 'imagens/logo.png' %}" alt="Logo do Instituto Vida Animal" class="logo">
                <a class="home" style="font-size: 32px; font-family: cursive; font-weight: bolder;" href="/"> Instituto Vida Animal </a>
            </div>

            <nav>
                <a style="font-size: 23px;" href="../sobreNos">Sobre Nós</a>
                <a style="font-size: 23px;" href="../adotar">Adotar</a>
                <a style="font-size: 23px;" href="../contactos">Contactos</a>
                <a style="font-size: 23px;" href="{% url 'sign_in' %}">Entrar</a>
            </nav>
        </header>

        <h1>Bem Vindo ao Instituto Vida Animal</h1>
        <img src="{% static 'imagens/cao/cao1.jpg' %}" style="width: 250px; height: auto; margin-left: 35px;">
        <img src="{% static 'imagens/cao/cao2.jpg' %}" style="width: 250px; height: auto; margin-left: 35px;">
        <img src="{% static 'imagens/gato/gato7.jpg' %}" style="width: 250px; height: auto; margin-left: 35px;"><br>
        <img src="{% static 'imagens/cao/cao3.jpg' %}" style="width: 250px; height: auto; margin-left: 35px;">
        <img src="{% static 'imagens/gato/gato1.jpg' %}" style="width: 250px; height: auto; margin-left: 35px;">
        <img src="{% static 'imagens/cao/cao4.jpg' %}" style="width: 250px; height: auto; margin-left: 35px;"><br>
        <img src="{% static 'imagens/gato/gato4.jpg' %}" style="width: 250px; height: auto; margin-left: 35px;">        
    </body>
    
    <br><br>
    <footer>
        <hr>
        <p>
            &copy; 2025 Instituto Vida Animal. Todos os direitos reservados.
        </p>
    </footer>
</html>