<!DOCTYPE html>

<!-- PÁGINA REGISTAR -->
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title> Registar-se | Instituto Vida Animal </title>
        <link rel="icon" href="{% static 'imagens/logo.png' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="cabecalho">
            <div style="gap: 20px; display: flex; align-items: center;">
                <img src="{% static 'imagens/logo.png' %}" alt="Logo do Instituto Vida Animal" class="logo">
                <a class="home" style="font-size: 32px; font-family: cursive; font-weight: bolder;" href="/"> Instituto Vida Animal </a>
            </div>

            <nav>
                <a style="font-size: 23px;" href="../sobreNos">Sobre Nós</a>
                <a style="font-size: 23px;" href="../adotar">Adotar</a>
                <a style="font-size: 23px;" href="../contactos">Contactos</a>
                <a style="font-size: 23px;" href="../sign_in">Entrar</a>
            </nav>
        </header>

        <br><br><br>
        <div class="signInCaixa">
            <h1 style="text-align: center; margin: 0px;">Registe-se</h1><br><br>
            <label style="margin-left: 15px; font-size: x-large;">Username: </label><br>
            <input style="margin-left: 15px; height: 20px; width: 400px;" type="text" required autocomplete="off"><br><br>

            <label style="margin-left: 15px; font-size: x-large;">Email: </label><br>
            <input style="margin-left: 15px; height: 20px; width: 400px;" type="text" required autocomplete="off"><br><br>

            <label style="margin-left: 15px; font-size: x-large;">Palavra passe: </label><br>
            <input style="margin-left: 15px; height: 20px; width: 400px;" type="text" required autocomplete="off"><br><br>

            <label style="margin-left: 15px; font-size: x-large;">Confirmar palavra passe: </label><br>
            <input style="margin-left: 15px; height: 20px; width: 400px;" type="text" required autocomplete="off"><br><br><hr>
            
            <p style="margin-left: 0px; text-align: center; font-size: larger;">Já tem conta? <a class="sign_up" href="../sign_in">Entrar</a></p>
            
        </div>
    </body>
</html>