/* ==========================
   IMAGENS
   ========================== */

.animal-detalhes {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-top: 30px;
}

.animal-detalhes img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.animal-info {
    flex: 1;
}
