/* ==========================
   MAPA
   ========================== */

.mapa iframe {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border-color: black;
    width: 750px;   /* 👈 largura padrão para computadores */
    height: 300px;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: block;
}

footer {
    margin-top: auto;
    text-align: center;
}


/* ==========================
   RESPONSIVIDADE DO MAPA
   ========================== */
@media (max-width: 800px) {
    .mapa iframe {
        width: 100%; /* 👈 ocupa toda a largura em tablets e telemóveis */
    }
}
