<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/animais.css' %}">
        <title> Adotar | Instituto Vida Animal </title>
        <link rel="icon" href="{% static 'imagens/logo.png' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="cabecalho">
            <div style="gap: 20px; display: flex; align-items: center;">
                <img src="{% static 'imagens/logo.png' %}" alt="Logo do Instituto Vida Animal" class="logo">
                <h1 style="color:darkgreen; font-family: cursive; margin: 0%;"> Instituto Vida Animal </h1>
            </div>

            <nav>
                <a style="font-size: 23px;" href="/" class="lista">Home</a>
                <a style="font-size: 23px;" href="../adotar">Adotar</a>
                <a style="font-size: 23px;" href="../contactos">Contactos</a>
            </nav>
        </header>

        <br>
        <a style="font-size: 50px; margin-left: 50px; color: gray; text-decoration: none;" href="../adotar">X</a>

        
        <h1 style="margin-left: 425px;">Rex</h1>
        <p style="margin-left: 425px;">
            Nome: Rex <br>
            Idade: 2 anos <br>
            
        </p>
        <img src="{% static 'imagens/cao/cao1.jpg' %}" style="width: 250px; height: auto;">
    </body>
</html>